.footer-bg {
    background-color: #070708;
    padding: 20px 0;
    text-align: center;
    height: 300px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}